[package]
name = "etcd-client-py-test"
version = "0.2.17-beta.1"
edition = "2021"
authors = ["Lablup Inc."]
readme = "./README.md"

[lib]
name = "etcd_client"
crate-type = ["cdylib"]

[dependencies]
etcd-client = { path = "/home/jopemachine/etcd-client"}
pyo3 = { version = "0.20.2", features = ["extension-module", "multiple-pymethods"] }
pyo3-asyncio = { version = "0.20.0", features = ["tokio-runtime"] }
tokio = { version = "1.32.0", features = ["sync"] }
tokio-stream = "0.1.14"
