name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: python:3.12

    steps:
    - uses: actions/checkout@v3
    - name: Install etcd
      run: |
        wget https://github.com/etcd-io/etcd/releases/download/v3.4.10/etcd-v3.4.10-linux-amd64.tar.gz
        tar -xzf etcd-v3.4.10-linux-amd64.tar.gz
        mv etcd-v3.4.10-linux-amd64/etcd* /usr/local/bin/

    - name: Set up Python as Runtime
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Set up Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Install dependencies and build the package
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
        python -m maturin build
        python -m pip install .

    - name: Test
      run: |
        python -m pytest
